@font-face {
  font-family: 'CustomFonts';
  src: url('./fonts/Fontspring-DEMO-proximanova-regular.otf') format('woff2'),
    url('./fonts/Fontspring-DEMO-proximanova-regular.otf') format('woff');
  /* Add more src declarations for different font file formats if necessary */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CustomFonts';
  min-width: 320px;
}


h1{
  font-size: 56px;
}
h2{
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
h4{
  font-size: 24px;
}
h4{
  font-size: 20px;
}
p{
  font-size: 18px;
}
.textdanger {
  color:#da222f;
}
.customs-container {
  width: 80%; /* Customize the width as per your requirement */
  max-width: 1200px; /* Optionally, set a maximum width to avoid excessive expansion on larger screens */
  margin:  auto; 

}


 a {
  color:#000;
}
 a:hover {
 color:#da222f;
  text-decoration: none;
}

.home {
  position: relative;
}

.home img {
  width: 100%;
  height: 700px
}

.home-content {
  position: absolute;

}

.experts,
.EQSteam,
.banner,
.contactdiv {
  background-color: #101828;
}

.experts-col {
  background-color: #1d2938;
}

.carousel-section {
  background-color: rgb(244, 249, 253);
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #ffffff;
  color: rgb(15, 15, 15);
  font-size: 18px;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -8px;
}

.owl-carousel .owl-nav button.owl-next {
  right: -8px;
}

.owl-carousel .owl-nav button.owl-prev:focus,
.owl-carousel .owl-nav button.owl-next:focus {
  outline: none;
  /* Remove focus outline */
}

.rounded-circle {
  width: 100px;
  height: 100px;
}

.team p {
  margin: 0;
}

.item {
  padding: 10px;
}
.object-fit-cover {
  background-size: cover;
  background-position: center center;
}

.clientrow {
  display: flex;
  background-color: #1d2938;
  border: 1px solid rgb(32, 48, 53);
}

.clientrow .left {
  width: 1%;
  background-color: #da222f;
}

.square-container {
  width: 50px; /* Set width and height to the same value to make it a perfect square */
  height: 50px; /* Set height to the same value as the width */
  border-radius: 5px;
  border: 2px solid rgb(196, 151, 157);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #da222f;
  margin-right: 15px;
  background-color: #3f4552;
}


.blue-border {
  border: 1px solid rgb(32, 48, 53);
}

.inputfield {
  width: 70%;
  outline: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
}

.submit {
  outline: none;
  box-shadow: -4px 4px 4px -2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}

.submit:focus {
  outline: none;
  box-shadow: none;
}

.links {
  list-style-type: none;
}

.links li {
  padding-bottom: 1rem;
}
li:hover{
  font-weight: bold;
}

.separator {
  background-color: rgb(0, 0, 0);
  height: 0.2vh;
}

.footer-content {
  text-decoration: underline;
}

p {
  margin: 0;
}

.owl-carousel img {
  border-radius: 5px;
}

.btnred:focus {
  outline: none;
}

.icons{
  font-size: 75px;

}
.icon{
  font-size: 20px;
 
  font-weight: 900;
}
.icon:hover {
  display: inline-block;
  transition: transform 0.5s ease;
  transform: translateX(10px);
  color:#da222f;
}
.description p:nth-of-type(3),.item p:nth-of-type(2) {
  position: relative;
  cursor: pointer;
}
.description p:nth-of-type(3):hover .icon,.item p:nth-of-type(2):hover .icon{
  display: inline-block;
  transition: transform 0.5s ease;
  transform: translateX(10px);

}
.description p:nth-of-type(3):hover{
  color: #da222f;
}
.custom-container {
  max-width: 3000px;

}
.custom-container img {
height: 700px;

}
.team .col-lg-4:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.team .col-lg-4 {
 
  transition: box-shadow 0.5s ease;
}

.pulse:hover {
  animation: pulse-out 2s forwards;
}

@keyframes pulse-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }

}

.custom-select-width {
  height: 50px; /* Set the desired height for select fields */
}
.hs-form-e77ed74b-90b0-44bb-8a19-b7bf4e127a17_c24808e1-dfba-41009e27-ee81d127f0ed .hs-richtext,.hs-form-e77ed74b-90b0-44bb-8a19-b7bf4e127a17_c24808e1-dfba-41009e27-ee81d127f0ed .hs-form-field label:not(.hs-error-msg),.hs-form-e77ed74b-90b0-44bb-8a19-b7bf4e127a17_c24808e1-dfba-41009e27-ee81d127f0ed .legal-consent-container .hs-richtext{
  color:#fff;
}
.hs-form-e77ed74b-90b0-44bb-8a19-b7bf4e127a17_c24808e1-dfba-41009e27-ee81d127f0ed .hs-button{
background-color: #dc3545;
border-radius: 1px solid #dc3545;
}
.square-container  i {
  font-size: 25px;
}
.single-solutions .container{
  padding: 0px;
}

.custom-container img{
  max-width: 4000px;
}
.equal-height-container {
  display: flex;
}
.equal-height-container .col-lg-4 {
  flex: 1;
}